<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>天工</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>天工需要访问麦克风以实现语音输入功能</string>
</dict>
</plist>
